.pic {
	height: 375px;
	width:  375px;
	margin: 25px;
	border: 45px solid darkgreen;
}

html {
	background: lightsteelblue;
}

.bdr-crm {
	border: 5px solid darkseagreen;
	margin: 10px;
	font-family: "Apple Chancery";
}

h2 {
	text-align: center;
}

.head {
	position: fixed;
	border: double darkgreen;
	float: right;
}