.pic {
	height: 375px;
	width:  375px;
	border: 5px solid darkgreen;
	margin-left: 10%;
}

html {
	background: firebrick;
}

.bdr-crm {
	border: 5px solid darkgoldenrod;
	margin-right: 67%;
	font-family: "Apple Chancery";
	background: black;
	color: indianred;
}

h2 {
	text-align: center;
}

.head {
	position: fixed;
	border: double darkgreen;
	float: right;
	background: silver;
	fill-opacity: 0.5;
}